<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Forgotten Password - Brand</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=League+Spartan&amp;display=swap">
    <link rel="stylesheet" href="{% static 'assets/css/Features-Small-Icons-icons.css' %}">
</head>

<body class="bg-gradient-primary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-flex">
                                <div class="flex-grow-1 bg-password-image" style="background-image: url('{% static 'assets/img/dogs/image1.jpeg' %}');"></div>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h4 class="text-dark mb-2">Olvidaste Tu Contraseña?</h4>
                                        <p class="mb-4">Es entendible, esas cosas pasan. Ingresa tu email en el espacio de abajo y te enviaremos un link para restablecerla&nbsp;</p>
                                    </div>
                                    {% if messages %}
                                        <div class="messages">
                                            {% for message in messages %}
                                                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                                    {{ message }}
                                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    <form class="user" method="POST">
                                        {% csrf_token %}
                                        {{ form.non_field_errors }}
                                        <div class="mb-3">
                                            {{ form.email.errors }}
                                            {{ form.email }}
                                        </div>
                                        <button class="btn btn-primary d-block btn-user w-100" type="submit">Restablecer Contraseña
                                        </button>
                                    </form>
                                    <div class="text-center">
                                        <hr><a class="small" href="{% url 'user_register' %}">Crear una Cuenta!</a>
                                    </div>
                                    <div class="text-center"><a class="small" href="{% url 'user_login' %}">¿Ya tienes una cuenta? Ingresa aqui</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/bs-init.js' %}"></script>
    <script src="{% static 'assets/js/theme.js' %}"></script>
</body>