<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset Email</title>
</head>
<body>
    <p>You're receiving this email because you requested a password reset for your user account at {{ site_name }}.</p>
    <p>Please go to the following page and choose a new password:</p>
    <a href="{{ protocol }}://{{ domain }}CheetahResearch-FE/Modulo%20De%20config/ConfirmPassword.html?uidb64={{ uid }}&token={{ token }}">Reset Password</a>
    <p>Your username, in case you’ve forgotten: {{ user.get_username }}</p>
    <p>Thanks for using our site!</p>
    <p>The {{ site_name }} team</p>
</body>
</html>
